@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-image: url(https://i.pinimg.com/originals/06/67/60/0667604c8e54ef7dab767dc2ff93d435.jpg);
}
#app {
  display: flex;
  justify-content: center;
}
.hide {
  display: none;
}
